@font-face {
    font-family: 'MyFont';
    src: url('./LeagueSpartan-Bold.otf') format('LeagueSpartan'),
         url('./Quicksand_Light.otf') format('Quicksand_Light');
    font-weight: normal;
    font-style: normal;
}
