:root {
    --main-bg-color: #2b2c30;
    --main-text-color: #FFFFFF;
    --main-primary-color: #62B1BA;
    --color-complementary-1: #CE6A6B;
    --color-complementary-2: #EBACA2;
    --color-complementary-3: #BED3C3;
    --color-complementary-4: #212E53;
}
